apiVersion: v1
kind: ConfigMap
metadata:
  name: file-storage-config
data:
  redis-host: "redis-service"
  minio-url: "http://minio-service:9000"
  rabbitmq-host: "rabbitmq-service"
  application.yaml: |
    spring:
      application:
        name: file-storage
      jpa:
        hibernate:
          ddl-auto: validate
        show-sql: false
      servlet:
        multipart:
          max-file-size: 5GB
          max-request-size: 5GB
    
    server:
      port: 8080
      compression:
        enabled: true
      
    management:
      endpoints:
        web:
          exposure:
            include: health,metrics,prometheus
      metrics:
        export:
          prometheus:
            enabled: true
